/*header*/

.ul, li, a{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    }
    




.primary-header{
    border-bottom: 2px solid #f1f1f1;
    }

/*about*/¨
.h1{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    }


/*section*/

/* projects */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: lightgray;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px; 
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2, .card-content p, .card-content a, .card-content a:hover {
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    color: lightgray;
    text-decoration: none;
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
}

.card-content a:hover {
    text-decoration: underline;
}